* {
    font-family: "Assistant", sans-serif;
}

#chat-container {
    /* border: 1px solid black;
    border-radius: 5px; */
    /* padding: 10px; */
}

#chat-input{
    width: calc(100% - 11px);
    font-size: 15px;
    padding: 10px;
    border: 1px solid black;
    font-family: "Assistant", sans-serif;
    outline: none;
    margin: 5px;
    box-sizing: border-box; /* Add this line */
}

#chat-send-button{
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    font-family: "Assistant", sans-serif;
    margin: 5px;
    width: calc(100% - 11px);
    box-sizing: border-box;
}

#chat-box{
    max-height: 400px;
    overflow-y: scroll;
}

/* Shared styles */
.vf-message {
    font-size: 16px;
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
}

/* Unique styles for user */
.vf-message-user {
    color: white;
}

/* Unique styles for agent */
.vf-message-agent {
    color: black;
}

.vf-message-button{
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    font-family: "Assistant", sans-serif;
    margin: 5px;
    width: calc(100% - 11px);
    box-sizing: border-box;
}
