* {
    font-family: "Assistant", sans-serif;
}

#chat-container {
    /* border: 1px solid black;
    border-radius: 5px; */
    /* padding: 10px; */
}

#chat-text-input-container{
    display: flex;
}

#chat-input{
    flex-grow: 1;
    font-size: 15px;
    padding: 10px;
    border: 1px solid black;
    font-family: "Assistant", sans-serif;
    outline: none;
    margin: 3px;
    box-sizing: border-box;
    border-radius: 25px;
}

#chat-send-button{
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    font-family: "Assistant", sans-serif;
    margin: 3px;
    width: 10%;
    box-sizing: border-box;
    float: right;
    border-radius: 25px;
}

#chat-box{
    max-height: 400px;
    overflow-y: scroll;
}

.vf-message {
    font-size: 16px;
    margin: 5px;
    border-radius: 25px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    clear: both;
}

.vf-message-user {
    color: white;
    float: right;
    max-width: 70%;
}

.vf-message-agent {
    color: black;
    float: left; 
}

.vf-message-button{
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    font-family: "Assistant", sans-serif;
    margin: 5px;
    box-sizing: border-box;
    border-radius: 25px;
}

#chat-all-button-container{
    display: flex;
    justify-content: center;
}
