* {
    font-family: "Assistant", sans-serif;
}

#chat-container {
    /* border: 1px solid black;
    border-radius: 5px; */
    /* padding: 10px; */
}

#chat-input{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    /* set the input box font family to commic sans */
    font-family: "Assistant", sans-serif;
    /* dissable outline when in the text box */
    outline: none;
    margin: 5px;
}

#chat-send-button{
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #0080ff;
    color: white;
    cursor: pointer;
    font-family: "Assistant", sans-serif;
    margin: 5px;
}

#chat-box{
    max-height: 400px;
    overflow-y: scroll;
}

/* Shared styles */
.vf-message {
    font-size: 16px;
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
}

/* Unique styles for user */
.vf-message-user {
    color: white;
}

/* Unique styles for agent */
.vf-message-agent {
    color: black;
}
